html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Mulish", sans-serif;
}

.logo {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: #212529;
    opacity: 90%;
    font-size: 2rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, .form-select:focus {
    border-color: black;
    box-shadow: none !important;
}
.btn-dark:hover, .btn-outline-dark:hover, .btn-light:hover {
    opacity: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: cadetblue!important;
    cursor: pointer;
}