@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@model WashOverflowV2.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center mb-5">
        <h1 class="text-center">Welcome, @User.Identity.Name!</h1>
        <form method="post" class="mt-4">
            <button class="btn btn-primary" type="submit" asp-page-handler="BookPage">Book a wash </button>
        </form>
    </div>
}
else
{
    <div class="text-center mb-5">
        <h1>Welcome</h1>
        <h3>Please login to use our services.</h3>
        <div class="d-flex justify-content-center gap-3 mt-4">
            <a href="~/Identity/Account/Login" class="btn btn-primary">Login</a>
            <a href="~/Identity/Account/Register" class="btn btn-secondary">Register</a>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        @foreach (var station in Model.Stations)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@station.Name</h5>
                        <p class="card-text">@station.Address</p>
                        <a href="@Url.Page("/DetailsCarwash", new { id = station.Id })" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
