@page
@model WashOverflowV2.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var station in Model.Stations)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@station.Name</h5>
                        <p class="card-text">@station.Address</p>
                        <a href="@Url.Page("/Details", new { id = station.Id })" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
